body{
    margin: 0;
    padding: 0;
    background-color: #111111;
    display: flex;
    flex-direction: column;
}
*{
    color: white;

}
.header{
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
        margin: 100px;
}
.main > .loading-bar{
    background-color: none;
    border: 1px solid;
    width: 100%;
    height: 3vh;

}

.main > .loading-bar > .loading-content{
    background-color: red;
    width: 0%;
    height: 3vh;
    transition-duration: 1s;
}
.main > .input{
    color: black;
}
.main > .loading-bar > .loading-content:hover{
    width: 100%;
}
